@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(29, 165, 132, 0.05);
}

main {
  font-family: "Circular STD Book", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: rgba(75, 75, 84, 0.78);
  padding: 16px 44px;
  margin: 0 auto;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"),
    url("/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Black.woff2") format("woff2"),
    url("/fonts/CircularStd-Black.woff") format("woff"),
    url("/fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"),
    url("/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("/fonts/CircularStd-Medium.woff") format("woff"),
    url("/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Bold.eot");
  src: local("Circular Std Bold"), local("CircularStd-Bold"),
    url("/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("/fonts/CircularStd-Bold.woff") format("woff"),
    url("/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("/fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"),
    url("/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Book.woff2") format("woff2"),
    url("/fonts/CircularStd-Book.woff") format("woff"),
    url("/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
