@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular STD Book";
  src: url("/fonts/circular-std-book.ttf");
}

body {
  background-color: rgba(29, 165, 132, 0.05);
}

main {
  font-family: "Circular STD Book", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  padding: 16px 44px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
}

.card {
  border-radius: 10px;
  border: 1px solid #dbe9f5;
  box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);
}

.label {
  font-size: 12px;
  font-weight: 900;
  color: #1da584;
}

.title {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.84px;
  color: #172b3e;
}

.updated {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: -0.23px;
  color: #8498ae;
}

.total {
  margin-top: 20px;
  font-size: 40px;
  line-height: 20px;
  letter-spacing: -0.7px;
  color: #232a2f;
}
