$primary-color: #1da584;
$secondary-color: #9a36bb;
$title-color: #172b3e;
$grey: #8498ae;
$grey-2: #6f7982;

.header {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  padding: 20px 22px;
  border: 1px solid rgba(28, 28, 28, 0.07);
  box-shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);
  background-color: #ffffff;
}

.logo {
  font-weight: 300;
  cursor: pointer;
  color: #333e48;
  text-align: center;
  line-height: 24.79px;
  letter-spacing: -0.63px;
  b {
    font-family: "Circular Std";
    font-weight: 900;
  }
}

.logoImage {
  display: inline-block;
  height: 24px;
  margin: 0 5px 3px;
}

.tagline {
  font-weight: 200;
  color: #8498ae;
}

.welcome {
  padding-top: 28px;
}

.card {
  border-radius: 10px;
  border: 1px solid #dbe9f5;
  box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);
}

.subtitle {
  font-size: 12px;
  font-weight: 900;
  color: $primary-color;
}

.title {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.41px;
  color: $title-color;
}

.updated {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: -0.23px;
  color: #8498ae;
}

.total {
  margin-top: 20px;
  line-height: 30px;
  letter-spacing: -0.7px;
  color: #232a2f;
}

.label {
  font-size: 14px;
  line-height: 6px;
  font-weight: 400;
  margin-top: 12px;
  letter-spacing: -0.31px;
  color: $grey-2;
}

.boxTitle {
  font-size: 16px;
  letter-spacing: -0.21px;
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
}

.boxColorLabel {
  top: 20px;
  left: -3px;
  position: absolute;
  content: "";
  display: block;
  height: 36px;
  width: 6px;
  border-radius: 4px;
}

.casesWrapper {
  @extend .card;
  position: relative;
}

.casesWrapper::after {
  @extend .boxColorLabel;
  background: $primary-color;
  box-shadow: 0 3px 8px 0 rgba(29, 165, 132, 0.32);
}

.casesTitle {
  @extend .boxTitle;
  color: $primary-color;
}

.deathsWrapper {
  @extend .card;
  position: relative;
}

.deathsWrapper::after {
  @extend .boxColorLabel;
  background: $secondary-color;
  box-shadow: 0 3px 8px 0 rgba(154, 54, 187, 0.24);
}

.deathsTitle {
  @extend .boxTitle;
  color: $secondary-color;
}

.aboutWrapper {
  @extend .card;
  position: relative;
  font-size: 14px;
}

.aboutTitle {
  color: #232a2f;
  font-size: 20px;
  letter-spacing: -1.04px;
  margin-bottom: 8px;
}

.source {
  padding: 16px 16px;
  color: $grey;
}

.chartWrapper {
  @extend .card;
  position: relative;
  font-size: 14px;
}

.chartTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.84px;
  color: $title-color;
  height: 77px;
}

.chartLabel {
  transform: translateY(20px);
}

.chartSectionTitle {
  position: relative;
  margin: 44px 10px 12px 0px;
  padding-left: 16px;
  color: #18212f;
  font-size: 30px;
  text-align: left;
  line-height: 32px;
  letter-spacing: -0.84px;
}

.chartSectionTitle:after {
  background: $secondary-color;
  box-shadow: 0 3px 8px 0 rgba(154, 54, 187, 0.24);
  display: block;
  content: "";
  width: 6px;
  height: 38px;
  border-radius: 15px;
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.casesChartSectionTitle {
  @extend .chartSectionTitle;
}

.casesChartSectionTitle:after {
  background: $primary-color;
  box-shadow: 0 3px 8px 0 rgba(29, 165, 132, 0.32);
}
